@import 'reset';
@import 'constants';
@import 'mixins';

/** Main */

body {
  font: 400 16px/24px $fonts;
  color: $dark-grey;
}

::selection {
  background-color: $blue;
}

::-moz-selection {
  background-color: $blue;
}


/** Code */
pre,
.code {
  font: 14px/20px $mono-fonts;
}


/** Custom scrollbars in WebKit-based browsers */

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-button {
  &:start:decrement,
  &:end:increment {
    background-color: $white;
    display: block;
    height: 0;
    width: 0;
  }
}

::-webkit-scrollbar-track-piece {
  border-radius: 8px;
  background-color: $white;
}

::-webkit-scrollbar-thumb {
  background-color: $grey;
  border-radius: 8px;

  &:hover {
    background-color: $blue;
  }

  &:vertical {
    height: 50px;
  }

  &:horizontal {
    width: 50px;
  }
}


/** Headings */

h1 {
  font: 300 2.5em $fonts;
  margin: 0;
}

h2 {
  font: 300 2em $fonts;
  margin: 0;
}

h3 {
  font: 400 1.5em $fonts;
  margin: 0;
}

h4 {
  font: 600 1em $fonts;
  margin: 0;
}


/** Paragraphs */

p + p {
  margin-bottom: 1.125em;
}


/** Links */

a {
  @include transition(all, $time-quick);
  color: $dark-blue;
  text-decoration: none;

  &:hover {
    color: $blue;
  }
}


/** Alert messages */

.alert {
  @include border-radius($radius);
  display: block;
  padding: 0.25em;
  width: 100%;
}

.error {
  @extend .alert;
  background: $light-red;
  border: 1px solid $red;
}

.warning {
  @extend .alert;
  background: $light-yellow;
  border: 1px solid $yellow;
}

.success {
  @extend .alert;
  background: $light-green;
  border: 1px solid $green;
}


/** Text field inputs */

input,
textarea {
  @include border-radius($radius);
  @include transition(all, $time-quick);
  background: $light-grey;
  border: 1px solid $grey;
  color: $dark-grey;
  font: 400 1em $fonts;
  outline: none;
  padding: 0.5em 0.75em;
  width: 100%;

  &:hover {
    background-color: $white;
    border-color: $dark-blue;
  }

  &:focus {
    background-color: $white;
    border-color: $blue;
  }

  &[disabled] {
    background-color: $disabled-grey;
    border-color: $disabled-dark;
    color: $disabled-dark;
  }

  &.large-text {
    padding: 1em 1.15em;
  }
}

textarea {
  height: 2.5em;
  resize: none;

  &:focus {
    height: 7.5rem;
  }
}


/** Buttons */

button {
  @include background-gradient($white, $light-grey);
  @include border-radius($radius);
  @include box-shadow(inset 0 -1px 0 $grey);
  @include transition(all, $time-quick);
  border: 1px solid $blue;
  color: $dark-grey;
  font: 400 1em $fonts;
  min-width: 175px;
  outline: none;
  padding: 0.5em 1.5em;
  text-shadow: 0 1px 0 $white;

  &:hover {
    @include box-shadow(inset 0 -1px 0 $grey, 0 1px 0 $light-grey);
    border-color: $dark-blue;
    color: $dark-blue;
    top: 1px;
  }

  &:focus {
    @include box-shadow(inset 0 -1px 0 $grey, 0 0 3px $blue);
  }

  &:active {
    @include background-gradient($light-grey, $white);
    @include box-shadow(none);
    color: $dark-blue;
  }

  &[disabled] {
    @include background-gradient($light-grey, $disabled-grey);
    @include box-shadow(none);
    border-color: $disabled-dark;
    color: $disabled-dark;
  }

  &.large-button {
    min-width: 200px;
    padding: 0.75em 2em;
  }

  &.inline-button {
    min-width: 125px;
    padding: 0.25em 1em;
  }
}


/** Fieldset */

fieldset {
  @include border-radius($radius);
  @include box-shadow(0 3px 0 $grey);
  background: $white;
  border: none;
  padding: 3.5em 1.5em 1.5em;
  position: relative;

  legend {
    border: none;
    width: 100%;

    span {
      @extend h3;
      display: block;
      padding-top: 0.5em;
      position: relative;
      top: 1.5em;
    }
  }

  // Fieldsets within fieldsets
  fieldset {
    @include border-radius(0);
    @include box-shadow(none);
    border-top: 1px solid $grey;
    padding: 3.5em 0 0;

    legend span {
      border-top: 1px solid $grey;
    }
  }
}


/** Checkboxes and radio buttons */

input[type='checkbox'],
input[type='radio'] {
  display: none;

  & + label {
    cursor: pointer;
  }

  & + label span {
    cursor: pointer;
    display: inline-block;
    height: 22px;
    margin: -4px 4px 0 0;
    vertical-align: middle;
    width: 26px;
  }
}

input[type='checkbox'],
input[type='radio'] {
  & + label span {
    background-position: -52px top;
    background-repeat: no-repeat;
    background-size: auto 22px;
  }

  & + label:hover span {
    background-position: -26px top;
  }

  &:checked + label span {
    background-position: 0px top;
  }

  &[disabled] + label span {
    background-position: -104px top;
  }

  &[disabled]:checked + label span {
    background-position: -78px top;
  }
}

input[type='checkbox'] + label span {
  background-image: url(../img/check.png);
}

input[type='radio'] + label span {
  background-image: url(../img/radio.png);
}

// Retina assets
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  input[type='checkbox'] + label span {
    background-image: url(../img/check@2x.png);
  }

  input[type='radio'] + label span {
    background-image: url(../img/radio@2x.png);
  }
}


/** Tables */

.table {
  border-left: 1px solid $grey;
  border-right: 1px solid $grey;
  overflow-x: auto;
  width: 100%;

  table {
    border-top: 1px solid $grey;
    width: 100%;

    thead {
      background-color: $light-grey;
      border-bottom: 2px solid $grey;
      font-weight: 600;
      text-transform: uppercase;

      .asc,
      .des {
        cursor: pointer;

        &::after {
          font-size: 0.75em;
          padding-left: 0.5em;
        }
      }

      .asc::after, {
        content: "▲";
      }

      .des::after {
        content: "▼";
      }
    }

    tr {
      border-bottom: 1px solid $grey;

      td {
        border-right: 1px solid $grey;
        padding: 0.5em 1em;
        vertical-align: middle;

        &:last-child {
          border-right: none;
        }
      }
    }

    tbody {
      tr {
        @include transition(all, $time-quick);

        &:nth-child(odd) {
          background-color: $white;
        }

        &:nth-child(even) {
          background-color: $light-grey;
        }

        &:hover {
          background: $lighter-blue;
        }
      }
    }
  }
}


/** Sortable lists */

.sortable {
  @include border-radius($radius);
  background: $white;
  border: 1px solid $grey;

  header {
    @include border-radius-top($radius);
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    padding: 0.5em;

  }

  .right {
    float: right;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      @include transition(all, $time-quick);
      background: url(../img/handle.png) 0.5em center no-repeat;
      background-size: 12px 20px;
      border-top: 1px solid $grey;
      list-style: none;
      min-height: 2.5em;
      padding: 0.5em 0.5em 0.5em 2em;

      &:hover {
        background-color: $lighter-blue;
      }

      &:last-child {
        @include border-radius-bottom($radius);
      }
    }
  }
}


/** Tab pane */

.tab-pane {
  @include border-radius($radius);
  background: $light-grey;
  border: 1px solid $blue;
  padding: 0.5em;
}


/** Tags */

ul.tags {
  display: block;
  height: 2em;
  margin: 0;
  padding: 0;

  & > li {
    @include border-radius($radius);
    background: $grey;
    border: 1px solid $grey;
    color: $white;
    cursor: pointer;
    display: block;
    font-size: 0.9em;
    float: left;
    list-style: none;
    margin-right: 0.5em;
    padding: 0 0.6em;
    position: relative;
    text-transform: uppercase;

    &:hover {
      @include border-radius-bottom(0);
      background: $white;
      border: 1px solid $blue;
      color: $dark-blue;

      ul {
        display: block;
      }
    }

    ul {
      @include border-radius-bottom($radius);
      background: $white;
      border: 1px solid $blue;
      display: none;
      padding: 0;
      position: absolute;
      top: 0.6em;
      left: -1px;
      width: 200px;
      z-index: 9000;

      li {
        color: $dark-grey;
        list-style: none;
        text-transform: none;
        padding: 0.4em 0.5em;

        a {
          color: $dark-grey;
        }

        &:hover {
          background: $blue;
          color: $white;
        }
      }
    }
  }
}


/** Dialog modal windows */

.dialog {
  @include border-radius($radius);
  @include box-shadow(0 0 10px $grey);
  background: $white;
  padding: 2.5em 1.5em;

  .dialog-actions {
    text-align: center;
    margin-top: 1.5em;

    button {
      margin: 0.5em;
    }
  }
}


/** Dropdown menu */

.dropdown {
  @include border-radius($radius);
  background: $white;
  border: 1px solid $dark-blue;
  cursor: pointer;
  display: inline-block;
  padding: 0.25em;
  position: relative;
  text-align: center;
  width: 250px;

  &:hover {
    @include border-radius-bottom(0);

    ul {
      display: block;
    }
  }

  ul {
    @include border-radius-bottom($radius);
    background: $white;
    border: 1px solid $dark-blue;
    display: none;
    left: -1px;
    margin: 0;
    padding: 0;
    top: 2em;
    position: absolute;
    text-align: left;
    width: 250px;

    li {
      list-style: none;
      padding: 0.5em;
    }

    li:not(.section) {
      padding-left: 1em;

      &:hover {
        background: $blue;
        color: $white;
      }
    }

    .section {
      font-size: 0.9em;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}


/** Menus */

nav {
  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      text-align: center;

      a {
        display: block;
        height: 3em;
        line-height: 3em;
        min-width: 10em;
        padding: 0 1em;
      }
    }
  }

  ul.main {
    border-bottom: 1px solid $blue;

    .active {
      background-color: $blue;
      color: $white;
    }
  }

  ul.sub {
    background-color: $blue;

    .active {
      background-color: $white;
      color: $blue;
    }
  }
}
