@import 'core';

body {
  background: #efedec;
}

header {
  background: #fff;
  text-align: center;
  padding: 3em 1em;

  h1 {
    color: $dark-blue;
    font-size: 3em;
  }

  h3 {
    margin-bottom: 2em;
  }

  nav {
    ul {
      padding: 0;

      li {
        display: inline-block;
        list-style: none;
        padding: 0 1em;

        a {
          width: auto;
        }
      }
    }
  }
}

h4 {
  margin-bottom: 0.5em;
  border-bottom: 1px solid #999;
}

pre {
  display: block;
}

.code-example {
  @include border-radius($radius);
  border: 1px solid $light-blue;
  background: $white;
  font-size: 0.8em;
  padding: 0.5em;
}

.col {
  display: inline-block;
  vertical-align: top;
}

.column {
  @extend .col;
  padding: 2em 3em;
  width: 50%;

  @include breakpoint(medium) {
    display: block;
    padding: 2em;
    width: 100%;
  }

  & > section {
    margin-bottom: 5em;
  }
}

.div-table {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

table {
  width: 100%;

  td {
    padding-right: 1.5em;
    vertical-align: top;

    &:last-child {
      padding-right: 0;
    }
  }
}

section {
  & > h1 {
    border-bottom: 1px solid #777;
    margin-bottom: 1em;
    padding-bottom: 0.4em;
  }
}

.colours {
  text-align: center;

  h1,
  h4 {
    text-align: left;
  }

  .circle {
    @include border-radius(100%);
    @include transition(border-color, $time-quick);
    border: 2px solid #fff;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 300;
    height: 120px;
    line-height: 120px;
    margin: 1em;
    text-align: center;
    vertical-align: middle;
    width: 120px;

    &:hover {
      border-color: $blue;
    }
  }

  .light-text {
    color: #fff;
  }

  #lighter-blue {
    background: $lighter-blue;
  }

  #light-blue {
    background: $light-blue;
  }

  #blue {
    @extend .light-text;
    background: $blue;
  }

  #dark-blue {
    @extend .light-text;
    background: $dark-blue;
  }

  #white {
    background: $white;
  }

  #light-grey {
    background: $light-grey;
  }

  #grey {
    @extend .light-text;
    background: $grey;
  }

  #dark-grey {
    @extend .light-text;
    background: $dark-grey;
  }

  #alerts {
    margin-top: 1em;

    .code-example {
      text-align: left;
    }
  }
}

.forms {
  #text-fields {
    margin-bottom: 1em;

    input {
      display: block;
      margin-bottom: 1.5em;
    }

    #hover {
      background-color: $white;
      border-color: $dark-blue;
    }

    #active {
      background-color: $white;
      border-color: $blue;
    }

    & > section {
      @extend .col;
    }
  }

  #buttons {
    button {
      display: block;
      margin-bottom: 1.5em;
    }

    & > section {
      @extend .col;
    }

    .div-table {
      margin-bottom: 1.5em;
    }

    #hover {
      @include box-shadow(inset 0 -1px 0 $grey, 0 1px 0 $light-grey);
      border-color: $dark-blue;
      color: $dark-blue;
    }

    #pressed {
      @include background-gradient($light-grey, $white);
      @include box-shadow(none);
      color: $dark-blue;
    }
  }

  #other {
    td {
      padding: 0.5em 0;
    }
  }
}


.typography {
  #fonts {
    // white-space: pre-line;

    h1 {
      border: none;
      padding: 0;
    }

    .example,
    .text {
      display: inline-block;
    }

    .example {
      font-size: 8em;
      line-height: 1em;
      width: 160px;
    }

    .text p {
      font-size: 1.25em;
    }

    #open-sans {
      .example,
      .text {
        font-weight: 300;
      }

      #regular,
      #semibold {
        font-size: 1.75em;

        @include breakpoint(medium) {
          display: block;
          margin-top: 0.5em;
        }
      }

      #regular {
        font-weight: 400;
        margin-right: 1em;
      }

      #semibold {
        font-weight: 600;
      }
    }

    #consolas, #consolas h1 {
      font-family: $mono-fonts !important;
    }
  }

  hgroup {
    h1,
    h2,
    h3,
    h4 {
      margin: 0.6em 0;
    }

    h4 {
      border: none;
    }
  }
}

footer {
  text-align: right;

  @include breakpoint(medium) {
    text-align: center;
  }
}
